! special
*.foreground:   #b9b9b9
*.background:   #101010
*.cursorColor:  #b9b9b9

! black
*.color0:       #101010
*.color8:       #525252

! red
*.color1:       #7c7c7c
*.color9:       #7c7c7c

! green
*.color2:       #8e8e8e
*.color10:      #8e8e8e

! yellow
*.color3:       #a0a0a0
*.color11:      #a0a0a0

! blue
*.color4:       #686868
*.color12:      #686868

! magenta
*.color5:       #747474
*.color13:      #747474

! cyan
*.color6:       #868686
*.color14:      #868686

! white
*.color7:       #b9b9b9
*.color15:      #f7f7f7

! urxvt
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*underlineColor: yellow
URxvt*font:  xft:Berkeley Mono:size=14:antialias=true
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
Urxvt*secondaryScroll:  true
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
